= render :partial => '/shared/menu' if logged_in?
.site
  #login_panel.standard_form
    %h1 
      Connexion 
      = link_to "(S'enregister)", register_path
  
    -if flash[:notice] 
      #flash-notice= flash[:notice]

    - form_tag session_path do
      %label 
        Email
        %br
        = text_field_tag 'email', '', :class => :text


      %label 
        Mot de passe
        %br
        = password_field_tag 'password', '', :class => :text

      %label 
        Se souvenir de ma connexion:  
        = check_box_tag 'remember_me' 
    
      - forgot =  link_to('(mot de passe oublié)' , forgot_password_path, :class => :forgot)
      = render :partial => '/shared/submit_buttons', :locals => {:text => 'Se connecter', :more => forgot }