.blue-box
  %h1= link_to 'Se Connecter'

.rounded-box
  .bg-bottom
    .bg-top
      Veuillez saisir votre email et votre mot de passe afin de vous connectez à votre DVDClub. 

.facebook-connect
  #fb-root
    - fb_login :perms => 'email', :text => "Me connecter avec Facebook" do 
      new DvdBook( arguments[2] );

  - content_for :javascript do
    = javascript_include_tag 'DvdBook'

.connect-or
  Ou:

.main-form

  - form_tag session_path do
    .row
      .lab
        %label= t(:email)
      .inp.focus= text_field_tag 'email', '', :class => :text

    .row.bottom-margin
      .lab
        %label Mot de passe:
      .inp.focus= password_field_tag 'password', '', :class => :text
    .row
      .lab
      .inp.focus= link_to('mot de passe oublié' , forgot_password_path)

    .row
      .check= check_box_tag 'remember_me' 
      .lb
        %label se souvenir de ma connexion

    = render :partial => '/layouts/submit_buttons', :locals => {:text => 'Se connecter'}
