= render :partial => '/user_mailer/header'

Bonjour, 
= @body[:dvd].owner.default_pseudo

%p
  = @body[:requester].default_pseudo
  souhaite vous emprunter 
  = @body[:dvd].title

%p 
  Pour confirmer ce prêt, merci de cliquer sur lien suivant pour préciser quand ce DVD peut-être disponible, et sous quelle modalité. 
  = link_to "Confirmer le prêt", @body[:accept_url]

%p
  Si toutefois vous êtes dans l'impossibilité de le prêter, cliquer sur le lien suivant pour prévenir
  = @body[:requester].default_pseudo + "."
  = link_to "Refuser!", @body[:refuse_url]

%p 
  Merci 
  = @body[:dvd].owner.default_pseudo
  , à bientôt! 
  
  
= render :partial => '/user_mailer/footer'
