= render :partial => '/user_mailer/header'

Bonjour, 
= @body[:requester].default_pseudo

%p
  = @body[:dvd].owner.default_pseudo
  a accepté de vous prêter
  = @body[:dvd].title

%p 
  Merci de prendre contact avec Demandeur afin de procéder à l'échange. 

%p 
  Merci 
  = @body[:requester].default_pseudo
  , à bientôt!
  
= render :partial => '/user_mailer/footer'