= render :partial => '/user_mailer/header'

Bonjour, 
= @body[:requester].default_pseudo

%p
  = @body[:dvd].owner.default_pseudo
  a refuser de vous prêter
  = @body[:dvd].title

%p 
  Un refus peut être motivé par différentes raisons, notamment son indisponibilité temporaire. 
  Vous pouvez tenter votre chance avec un autre membre du club...
  
%p 
  Merci 
  = @body[:requester].default_pseudo
  , à bientôt!
  
= render :partial => '/user_mailer/footer'