-form_for :user, current_object, :url => current_object.new_record? ? objects_path : object_path, :html => { :method => current_object.new_record? ? :post : :put } do |f|
  %p
    %label
      Email:
      %br
      = f.text_field :email, :class => :text
  %p
    %label
      Mot de passe:
      %br
      = f.password_field :password, :class => :text
  - if @dvd_club
    = render :partial => 'dvdclub'

    - fields_for :user_dvd_club do |fields|
      %p
        %label
          Votre pseudo dans ce club:
          %br
          = fields.text_field :pseudo, :class => :text
      %p
        %label
          Comment vous identifier dans ce club:
          %br
          = fields.text_area :description, :class => :text
  %p
    %br
    %label
      Active (uncheck to suspend user):
      = check_box_tag :active, :active, :checked => ( ( current_object.state and current_object.active? ) ? :checked : '' )
  %br
  %p
    = f.check_box :accept_offers
    L'utilisateur accepte de recevoir des offres des partenaires de mon DVD Club

  %p
    = f.submit current_object.new_record? ? "Add" : "Update"
    or 
    = link_to 'Cancel', objects_path
