= render :partial => '/layouts/menu', :locals => {:parent => :admin} if logged_in?
.site
  %h3
    Club Topics
  %br
  %table
    %tr
      %th
        Name
      %th
        Action
    -current_objects.each do |object|
      %tr
        %td
          = object.name
        %td
          = link_to 'Edit', edit_admin_club_topic_path(object)
          = link_to 'Delete', admin_club_topic_path(object), :method => :delete
  %br
  = link_to 'New', new_admin_club_topic_path
  