= display_errors @user, @user_dvd_club, @dvd_club

-form_for @user do |f|
  %p
    %label
      Email:
      %br
      = f.text_field :email, :class => :text
  %p
    %label
      Mot de passe:
      %br
      = f.password_field :password, :class => :text
  - if @dvd_club
    = render :partial => 'dvdclub'
    
    - fields_for :user_dvd_club do |fields|
      %p
        %label
          Votre pseudo dans ce club?:
          %br
          = fields.text_field :pseudo, :class => :text
      %p
        %label
          Comment vous identifier dans ce club?:
          %br
          = fields.text_area :description, :class => :text
  %p
    = f.check_box :accept_offers
    j'accepte de recevoir des offres des partenaires de mon DVD Club

  - if @user.new_record?
    %p
      = f.check_box :terms
      j'accepte les conditions d'utilisations
      
  = hidden_field_tag :token, @token

  = render :partial => '/shared/submit_buttons', :locals => {:text => @user.new_record? ? 'Créer' : 'Valider'}