-form_for @user do |f|
  %p
    %label
      pseudo
      %br
      = f.text_field :login, :class => :text
  %p
    %label
      email:
      %br
      = f.text_field :email, :class => :text
  %p
    %label
      confirmer email:
      %br
      = f.text_field :email_confirmation, :class => :text
  %p
    %label
      mot de passe:
      %br
      = f.password_field :password, :class => :text
  %p
    %label
      confirmer mot de passe:
      %br
      = f.password_field :password_confirmation, :class => :text

  - if @user.new_record?
    - fields_for :dvd_club do |fields|
      %p
        %label
          nom de votre club:
          %br
          = fields.text_field :name, :class => :text
      %p
        %label
          type de club:
          %br
          = fields.select :club_topic_id, ClubTopic.find(:all).collect{|t| [t.name, t.id]}, :prompt => true, :class => :text
      %p
        %label
          comment vous identifier dans ce club?:
          %br
          = fields.text_area :description, :class => :text
      %p
        = f.check_box :accept_offers
        j'accepte de recevoir des offres des partenaires de mon DVD Club
      %p
        = f.check_box :terms
        j'accepte les conditions d'utilisations

  = render :partial => '/shared/submit_buttons', :locals => {:text => @user.new_record? ? 'Créer' : 'Valider'}