#footer
  .site
    .info
      .links
        = link_to 'A propos', '#'
        |
        = link_to "Conditions d'utilisation", '#'
        |
        = link_to 'Mentions Légales', '#'
        |
        = link_to 'Vie privée', '#'
        
      .company
        Service édité par 
        = link_to 'Sébastien Sacard', '#'
