#header.basic
  .site
    .logo
      = link_to 'MonDVDClub.fr', root_path
    / = Dvd.count
    / DVD à voir gratuitement
    .actions
      - if logged_in?
        Bienvenue
        %strong= current_user.login
        |
        = link_to 'Mon Compte', '/settings'
        |
        = link_to "Se deconnecter", logout_path
      - else 
        = link_to "Créer un club", register_path
        |  
        = link_to "Se connecter", login_path
      
