-form_for :dvd_club, current_object, :url => current_object.new_record? ? objects_path : object_path, :html => { :method => current_object.new_record? ? :post : :put } do |f|
  = f.hidden_field :owner_id, :value => current_user.id
  = f.hidden_field :terms, :value => '1'
  %p
    %label
      Nom du club:
      %br
      = f.text_field :name, :class => :text
  %p
    %label
      Description du club:
      %br
      = f.text_area :description, :class => :text
  %p
    %br
    %label
      Active (uncheck to suspend club):
      = check_box_tag :active, :active, :checked => ( ( @dvd_club.state and @dvd_club.active? ) ? :checked : '' )
  %p
    %br
    = f.submit current_object.new_record? ? "Add" : "Update"
    or
    = link_to 'Cancel', objects_path
