= render :partial => '/layouts/menu', :locals => {:parent => :club, :object => false} if logged_in?

.main-box
  .promo-box
    .btn
      .bg-left
        = link_to content_tag(:span, content_tag(:span, t('home.button'))), new_dvd_path
    %p
      =t 'home.banner'  

  .top-border.easyfix
    = render :partial => 'layouts/categories'
    .main.twocols
      #accueil
        %h2= render :partial => 'dvds/partials/breadcrumb'
        - if @dvds.empty?
          %p
            =t 'home.noDVDs' 
        - else
          = render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}
