-form_for(:user_dvd_club, nil, :url => user_dvd_clubs_path) do |f|
  %p
    %label
      invité par:
      %br
      %b
        = "#{@invitation.user.login} (#{@invitation.user.email})"
  - fields_for :user do |fields|
    %p
      %label
        pseudo
        %br
        = fields.text_field :login, :class => :text
    %p
      %label
        email:
        %br
        = fields.text_field :email, :class => :text
    %p
      %label
        confirmer email:
        %br
        = fields.text_field :email_confirmation, :class => :text
    %p
      %label
        mot de passe:
        %br
        = fields.password_field :password, :class => :text
    %p
      %label
        confirmer mot de passe:
        %br
        = fields.password_field :password_confirmation, :class => :text
    %p
      %label
        nom de votre club:
        %br
        %b
          = @invitation.dvd_club.name
    %p
      %label
        type des club:
        %br
        %b
          = @invitation.dvd_club.club_topic.name
  %p
    %label
      comment vous identifier dans ce club ?
      %br
        = f.text_area :comments
  = hidden_field_tag 'token', @invitation.token
  = render :partial => '/shared/submit_buttons', :locals => {:text => 'Valider'}