.heading
  %ul
    %li
      %a{:href => "/dvd_clubs/#{dvd_club.id}/invite", :class => "yellow"}
        %span
          %span J’invite des amis
    
    / Join or quit the current club
    %li
      - if dvd_club.has_member?(current_user)
        = link_to '<span><span>Je quitte ce club</span></span>', user_dvd_club_path(UserDvdClub.membership(dvd_club, current_user)), :method => :delete, :confirm => 'Are you sure?'
      - else
        = link_to '<span><span>Rejoindre ce club</span></span>', user_dvd_clubs_path(:user_dvd_club => {:dvd_club_id => dvd_club.id, :user_id => current_user.id}), :method => :post
            
  %h2= dvd_club.name

/ The DVD details partial
= render :partial => 'dvds/partials/dvds', :locals => {:dvds => dvd_club.dvds( nil, current_user )}

/ This club members list
%h2 Les derniers membres de ce club (7 derniers jours)
= render :partial => 'user', :collection => dvd_club.recent_users, :locals => {:dvd_club => dvd_club}

- if local_assigns[:all_members] && all_members
  %h2 Tous les membres
  = render :partial => 'user', :collection => dvd_club.users, :locals => {:dvd_club => dvd_club}
- else
  = link_to 'Tous les membres', :controller => :dvd_clubs, :action => :all_members, :id => dvd_club.id 
