= render :partial => '/layouts/menu', :locals => {:parent => :myself, :object => :clubs} if logged_in?
-
.site
  %h3
    Users
  %br
  -form_for :dvd_club, @dvd_club, :url => {:action => :blacklist } do |f|
    %table
      %tr
        %th
          Email
        %th
          Blacklisted
      -@fellow_club_members.each do |user|
        %tr
          %td
            = user.email
          %td
            = check_box_tag "blacklisted[#{user.id}]", "blacklisted[#{user.id}]", current_user.on_my_blacklist?( user )
    %p
    = f.submit "Update"
