= render :partial => '/layouts/menu', :locals => {:parent => :myself, :object => :clubs} if logged_in?

.main-box
  - if @cannot_add_user_to_club_msg
    .notice
      = @cannot_add_user_to_club_msg
  - else
    %h3.center-heading
      Inviter des amis

    .main-form
      - form_for :mail, :url => {:controller => 'dvd_clubs', :action => 'send_mails'} do |form|
        %p
          à votre cercle :
          = @dvd_club.name
        %p
          De la part de:
          %b= current_user.login
        .row
          .lab
            %label A:
          .inp= form.text_field :recipients, :class => :text
        .row
          .lab
            %label Message:
          .inp= form.text_area :message
        = hidden_field_tag 'return_url', dvd_club_path(@dvd_club)
        = hidden_field_tag 'dvd_club_id', @dvd_club.id
        = form.submit :inviter

  .shadow-box
    .shadow-box-bottom
      .shadow-box-top
        %h3{}=t 'invite.nextstep.title'
        %p{}=t 'invite.nextstep.text'