.site
  #profile.standard_form    
    %h1 
      Bonjour 
      = @user.login
      , vous venez de recevoir une invitation envoyé par: 
      = @invitation.user.login
    %p 
      Saissisez votre mot de passe pour rejoindre ce club

    - form_tag join_dvd_club_path(@token) do
      = display_flash
      %label 
        Password
        %br
        = password_field_tag 'password', '', :class => :text

      - forgot =  link_to('(forgot password)' , forgot_password_path, :class => :forgot)
      = render :partial => '/shared/submit_buttons', :locals => {:text => 'Accepter', :more => forgot }    

    %br
    %h1 
      Description du club
    = render :partial => '/users/dvdclub'
    
