.site
  #profile.main-form    
    %div.invitation_head
      %p 
        Bonjour #{ @user.default_pseudo }, vous venez de recevoir une invitation envoyée par:
        = @invitation.user.default_pseudo 
        pour rejoindre le club 
        = @dvd_club.name
      %blockquote
        = @dvd_club.description

      %p 
        Saisissez votre mot de passe pour rejoindre ce club

    - form_tag join_dvd_club_path(@token) do
      %div.row
        %div.lab
          %label 
            Mot de passe
        %div.inp
          = password_field_tag 'password', @password, :class => :text

      - fields_for :user_dvd_club do |fields|
        %div.row
          %div.lab
            %label
              Votre pseudo dans ce club:
          %div.inp
            = fields.text_field :pseudo, :class => :text
      - forgot =  link_to('(forgot password)' , forgot_password_path, :class => :forgot)
      = render :partial => '/layouts/submit_buttons', :locals => {:text => 'Accepter', :more => forgot }    
