.site
  #profile.main-form    
    %div.invitation_head
      %p 
        Bonjour #{ @user.login }, vous venez de recevoir une invitation envoyée par:
        = @invitation.user.login 
        pour rejoindre le club 
        = @dvd_club.name

      %p 
        Saisissez votre mot de passe pour rejoindre ce club

    - form_tag join_dvd_club_path(@token) do
      %div.row
        %div.lab
          %label 
            Mot de passe
        %div.inp
          = password_field_tag 'password', @password, :class => :text

      - forgot =  link_to('(forgot password)' , forgot_password_path, :class => :forgot)
      = render :partial => '/layouts/submit_buttons', :locals => {:text => 'Accepter', :more => forgot }    
