= render :partial => '/shared/menu', :locals => {:object => 'Mes Clubs'} if logged_in?
.site
  .standard_form
    %h1 
      Créer un nouveau club
  
    -form_for @dvd_club  do |f|
      %p
        %label
          nom de votre club:
          %br
          = f.text_field :name, :class => :text
      %p
        %label
          type de club:
          %br
          = f.select :club_topic_id, ClubTopic.find(:all).collect{|t| [t.name, t.id]}, :prompt => true, :class => :text
      %p
        %label
          comment vous identifier dans ce club?:
          %br
          = f.text_area :description, :class => :text
      %p
        = f.check_box :terms
        j'accepte les conditions d'utilisations

      = render :partial => '/shared/submit_buttons', :locals => {:text => 'Créer'}