= render :partial => '/shared/menu', :locals => {:object => :clubs} if logged_in?
.site
  .standard_form
    %h1 
      Créer un nouveau club
  
    -form_for :dvd_club, @dvd_club, :url => {:action => 'create'}  do |f|
      %p
        %label
          Nom du club:
          %br
          = f.text_field :name, :class => :text
      %p
        %label
          Type de club:
          %br
          = f.select :club_topic_id, ClubTopic.find(:all).collect{|t| [t.name, t.id]}, :prompt => true, :class => :text
      %p
        %label
          Description du club:
          %br
          = f.text_area :description, :class => :text
          
      - fields_for :user_dvd_club do |fields|
        %p
          %label
            Votre pseudo dans ce club?:
            %br
            = fields.text_field :pseudo, :class => :text
        %p
          %label
            Comment vous identifier dans ce club?:
            %br
            = fields.text_area :description, :class => :text
      %p
        = f.check_box :terms
        j'accepte les conditions d'utilisations

      = render :partial => '/shared/submit_buttons', :locals => {:text => 'Créer'}