= render :partial => '/shared/menu' if logged_in?
.site
  %h3
    Users
  %br
  %table
    %tr
      %th
        Name
      %th
        Action
      %th
        Status
    -current_objects.each do |object|
      %tr
        %td
          = object.email
        %td
          = link_to 'Edit', edit_admin_user_path(object)
          = link_to 'Delete', admin_user_path(object), :method => :delete, :confirm => %Q{Etes-vous sûr de vouloir supprimer cet utilisateur ?\rVous pouvez simplement le suspendre en allant sur "Edit"}
        %td
          = object.state 
  %br
  = link_to 'New', new_admin_user_path
  