- form_remote_for(:dvd, :url => {:controller => :dvds, :action => :create}, :loading => "Element.show('indicator')", :complete => "Element.hide('indicator')") do |f|
  .row
    .lab
      %label Titre
    .input.focus= f.text_field :titre, :class => :text
  .row
    .lab
      %label Catégory
    .input= f.collection_select :dvd_category_id, DvdCategory.find(:all), :id, :name
  .row
    .lab
      %label Director
    .input.focus= text_field_tag :director
  .row
    .lab
      %label Format
    .input= f.collection_select :format_id, DvdFormat.find(:all), :id, :name
  .row
    .lab
      %label Actors
      = link_to_function('+') do |page|
        - page.insert_html :bottom, 'actors-div', "<br />" + text_field_tag('actors[]')
      #actors-div
        .input.focus= text_field_tag 'actors[]'
    
  = submit_tag 'Ajouter'