#search_header
  ="15.list.title"[:'15.list.title', @title, @index + 1, @total]
.clear
%table
  - @res.each_with_index do |i, index|
    %tr
      %td
        = image_tag i[:smallimage] unless i[:smallimage].nil?
      %td
        %b Titre
        %b= link_to i[:title], i[:url]
        %br
        %bFormat:
        = i[:format]
        %br
        = truncate(i[:description], 160)
      %td
        - form_remote_for(:dvd, :url => {:controller => :dvds, :action => :create}, :html => {:id => index+1}) do |f|
          %select{:name => :dvd_category_id}
            = options_for_select(categories, i[:category] )
          = hidden_field_tag 'asin', i[:asin] 
          = hidden_field_tag 'url', i[:url]  
          = hidden_field_tag 'smallimage', i[:smallimage]  
          = hidden_field_tag 'largeimage', i[:largeimage]  
          = hidden_field_tag 'title', i[:title]  
          = hidden_field_tag 'description', i[:description]  
          = hidden_field_tag 'format', i[:format]  
          - i[:actor].each do |a|
            = hidden_field_tag 'actors[]', a
          = hidden_field_tag 'director', i[:director] 
          = hidden_field_tag 'manufacturer', i[:manufacturer]
          = hidden_field_tag 'owner_id', self.current_user.id 
        
      %td
        = "<input type=\"button\" onclick=\"document.forms[#{index+1}].onsubmit();\" value=\"c'est ça!\" />"
= will_paginate @res, :renderer => 'RemoteLinkRenderer'
