%table
  %tr
    %th
    %th
      Format
    %th
      Title
    %th
      Actors
    %th
      Director
    %th
      Manufacturer
    %th
      Image
  - @res.each_with_index do |i, index|
    %tr
      %td
        - form_remote_for(:dvd, :url => {:controller => :dvds, :action => :create}, :html => {:id => index+1}) do |f|
          = hidden_field_tag 'asin', i[:asin] 
          = hidden_field_tag 'url', i[:url]  
          = hidden_field_tag 'smallimage', i[:smallimage]  
          = hidden_field_tag 'largeimage', i[:largeimage]  
          = hidden_field_tag 'title', i[:title]  
          = hidden_field_tag 'description', i[:description]  
          = hidden_field_tag 'format', i[:format]  
          - i[:actor].each do |a|
            = hidden_field_tag 'actors[]', a
          = hidden_field_tag 'director', i[:director] 
          = hidden_field_tag 'manufacturer', i[:manufacturer]
          = hidden_field_tag 'dvd_club_id', dvd_club_id 
          %b
            Dvd Category:
          %br
          = f.collection_select(:dvd_category_id, DvdCategory.find(:all), :id, :name, :prompt => true)
          = "<input type=\"button\" onclick=\"document.forms[#{index+1}].onsubmit();\" value=\"c'est ça!\" />"
          
      %td
        = i[:format]
      %td
        = link_to i[:title], i[:url]
      %td
        = i[:actor].join(', ')
      %td
        = i[:director]
      %td
        = i[:manufacturer]
      %td
        = image_tag i[:smallimage] unless i[:smallimage].nil?
= will_paginate @res, :renderer => 'RemoteLinkRenderer'
