= render :partial => '/shared/menu', :locals => {:object => 'Mes DVD', :parent => 'Moi'} if logged_in?
.site.center
  %h3
    Vous avez accepté de prêter un DVD:
  %br
    = image_tag @dvd.logo
  %br
    = @dvd.booked_by_user.login
    vous à demandé
    %b= @dvd.title
    dans le DVDclub 
    %b= @dvd.dvd_club.name
  %br
  = button_to "confirmer le prêt", {:controller => :dvds, :action => :approve, :id => @dvd.id}, :method => :post
  = button_to "je me suis trompé, je refuse!", {:controller => :dvds, :action => :refuse, :id => @dvd.id}, :method => :post
