= render :partial => '/layouts/menu', :locals => {:object => :dvds, :parent => :myself} if logged_in?
.site.center
  %h3
    Vous avez accepté de prêter un DVD:
  %br
    = dvd_cover(@dvd)
  %br
    = @dvd.booked_by_user.default_pseudo
    vous à demandé
    %b= @dvd.title
    dans le DVDclub 
    %b= DvdClub.first_in_common(@dvd.booked_by_user, current_user).name
  %br
  = button_to "confirmer le prêt", {:controller => :dvds, :action => :approve, :id => @dvd.id}, :method => :post
  = button_to "je me suis trompé, je refuse!", {:controller => :dvds, :action => :refuse, :id => @dvd.id}, :method => :post
