= render :partial => '/shared/menu', :locals => {:object => 'Mes Clubs'} if logged_in?
.site
  %h3
    "
    = @dvd.title
    " 
    has been added to the global database
%br
%br
= render :partial => 'dvds/partials/dvd', :locals => {:dvd => @dvd}
%br
Une fois leur compte créé, leurs DVDs seront automatiquement
disponibles dans votre DVD Club commun.
%br
Vous allez être redirigé vers la page d'ou vous avez faite votre
demande dans les prochaines secondes, ou 
= link_to 'en cliquant ici.', "/dvd_clubs/#{@dvd.dvd_club_id}"
%br
