= render :partial => '/shared/menu' if logged_in?
.site
  #dvd-search
    %h4
      Ajouter des DVDs
    = flash[:notice]
    
    %p
      = "15.subtitle"[:'15.subtitle']
    
    %br/
    - form_remote_for(:dvd, :url => {:controller => :dvds, :action => :search}, :loading => "Element.show('indicator')", :complete => "Element.hide('indicator')") do |f|
      = text_area_tag :title, ''
      %br/ 
      %br/
      = submit_tag "15.form.button"[:'15.form.button']
  #indicator{:style=> "display: none;"}
    =image_tag('/images/indicator.gif')
  %br/
  %br/
  #search-results
  %br/
  %h4
    = link_to_function "16.title"[:'16.title'], "Element.show('dvd-form')"
  #dvd-form{:style => "display:none;"}
    = render :partial => 'manually'
