= render :partial => '/layouts/menu', :locals => {:object => :dvds, :parent => :myself} if logged_in?

.main-box
  - if ! @dvds.nil?
    .easyfix
      .main
        %h2
        =t :'new.justadded'
        = render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}
  .half-text
    %h2
      =t :'new.title'
    %p
      =t :'new.subtitle' 

  .txt-holder
    - form_remote_for(:dvd, :url => {:controller => :dvds, :action => :search}, :loading => "$('indicator').show()", :complete => "$('indicator').hide()") do |f|
      .txt
        = text_field_tag :title, '', :size=>70
      .btn= link_to_function(content_tag(:span, content_tag(:span, t(:'new.button-search'))), 'MonDVD.Form.submit(this)')
  
  / Placeholder for the search results, needed as JavaScript hook
  #search-results
  
  %hr

  .half-text
    %h2
      =t :'new.addmanually'

    = render :partial => 'manually'
