= render :partial => '/layouts/menu', :locals => {:object => :dvds, :parent => :myself} if logged_in?

.main-box
  - if ! @dvds.nil?
    .easyfix
      .main
        %h2 Vous venez d'ajouter
        = render :partial => 'dvds/partials/dvds', :locals => {:dvds => @dvds}
  .half-text
    %h2 Ajouter des DVD
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 

  .txt-holder
    - form_remote_for(:dvd, :url => {:controller => :dvds, :action => :search}, :loading => "$('indicator').show()", :complete => "$('indicator').hide()") do |f|
      .txt
        = text_area_tag :title, ''
      .btn= link_to_function(content_tag(:span, content_tag(:span, 'Rechercher')), 'MonDVD.Form.submit(this)')
  
  / Placeholder for the search results, needed as JavaScript hook
  #search-results
  
  .half-text
    %h2 Ajouter manuellement un DVD
    = render :partial => 'manually'
