= render :partial => '/shared/menu' if logged_in?
.site
  = render :partial => 'shared/categories'
  #accueil
    = link_to 'Accueil', home_path 
    > 
    - if @dvd_category
      = @dvd_category.name
      > 
    = @dvd.title 
    %table
      %tr
        %td{:width => 230}
          = image_tag(@dvd[:largeimage], :class => 'logo', :width => 200)
        %td
          %b= @dvd.owner.login
          %br
          = DvdClub.in_common(@dvd.owner, current_user)
          %br
          %br
          = render :partial => 'dvds/partials/status', :locals => {:dvd => @dvd}
          %br
          %b= @dvd.title
          = @dvd.actors.map(&:name).join(' - ')
          %br
          format:
          = @dvd.format_name
          %br
          %br
          = @dvd.description
  .clear
