= render :partial => '/shared/menu' if logged_in?
.site
  #dvd
    %h2
      Accueil > 
      - if @dvd_category
        = @dvd_category.name
        > 
      = @dvd.title 
    %table
      %tr
        %td
          = image_tag @dvd[:image] unless @dvd[:image].nil?
        %td
          %b
            Propriétaire
          %br
          DVD Club (
          = @dvd.dvd_club.name
          )
          %br
          Status: 
          = render :partial => '/dvds/partials/dvd_state', :locals => {:dvd => @dvd}
          %br
          %b
            = @dvd.title
          format:
          = @dvd.dvd_format.name rescue "none"
          %br
          = @dvd.description
    %br
    %br