= render :partial => '/layouts/menu' if logged_in?
.site
  = render :partial => 'layouts/categories'
  #accueil
    = render :partial => 'dvds/partials/breadcrumb'
    %table
      %tr
        %td{:width => 230}
          = dvd_cover(@dvd, :large)
        %td
          %b= @dvd.owner.email
          %br
          = DvdClub.first_in_common(@dvd.owner, current_user).name
          %br
          %br
          = render :partial => 'dvds/partials/status', :locals => {:dvd => @dvd}
          %br
          %b= @dvd.title
          = @dvd.actors.map(&:name).join(' - ')
          %br
          format:
          = @dvd.format_name
          %br
          %br
          = @dvd.description
  .clear
