= render :partial => '/layouts/menu', :locals => {:parent => :club, :object => false} if logged_in?
.main-box

  .easyfix
    = render :partial => 'layouts/categories'
    
    .main
      #accueil
        %h3
          = render :partial => 'dvds/partials/breadcrumb'
        %table
          %tr
            %td{:width => 230}
              = dvd_cover(@dvd, :large)
            %td
              %p
                %strong Club:
                = DvdClub.first_in_common(@dvd.owner, current_user).name
              %p
                %strong Propriétaire:
                = @dvd.owner.login
              %p
                %strong Status:
                = render :partial => 'dvds/partials/status', :locals => {:dvd => @dvd}
              %p
                %strong Acteurs: 
                = @dvd.actors.map(&:name).join(', ')
              %p
                %strong Metteurs en scene: 
                = @dvd.directors.map(&:name).join(', ')
              %p 
                %strong Format:
                = @dvd.format_name
              %p= @dvd.description
      .clear
