<div class="main-img">
	<div class="white-box-holder">
		<span class="white-box-top">&nbsp;</span>
		<div class="white-box">
			<h2><%=t 'public.h2' %></h2>
			<ul>
				<li><span>1 </span><%=t 'public.task1' %></li>
				<li><span>2 </span><%=t 'public.task2' %></li>
				<li><span>3 </span><%=t 'public.task3' %></li>
			</ul>
			<%= link_to t(:'public.action'), register_path, :class => :btn %>
		</div>
		<span class="white-box-bottom">&nbsp;</span>
	</div>
	<img src="images/dvdgrid.jpg" alt="<%=t 'public.claim' %>"/>
</div>
<div class="columns-wrapper">
	<div class="columns-holder">
		<div class="promo-text">
			<div class="promo">
				<p><%=t 'public.claim' %></p>
				<!-- <a href="#" class="more">en savoir plus</a> -->
			</div>
			<div class="dual-columns">
				<div class="dual-column">
					<div class="heading">
						<h3><%=t 'public.avantages.title' %></h3>
					</div>
					<ul>
						<li><%=t 'public.avantages.top1' %></li>
						<li><%=t 'public.avantages.top2' %></li>
						<li><%=t 'public.avantages.top3' %></li>
						<li><%=t 'public.avantages.top4' %></li>
						<li><%=t 'public.avantages.top5' %></li>
					</ul>
				</div>
				<div class="dual-column">
					<div class="heading">
						<h3><%=t 'public.features.title' %></h3>
					</div>
					<ul>
						<li><%=t 'public.features.top1' %></li>
						<li><%=t 'public.features.top2' %></li>
						<li><%=t 'public.features.top3' %></li>
						<li><%=t 'public.features.top4' %></li>
						<li><%=t 'public.features.top5' %></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="news-column">
			<h2><%=t 'public.lastnews'%></h2>
			<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fplatform&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=427" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:427px;" allowTransparency="true"></iframe>
		</div>
	</div>
</div>
<div class="columns-wrapper bottom-wrapper">
	<div class="columns-holder">
		<div class="bg-line">
			<div class="promo-text">
				<div class="dual-columns plus">
					<div class="dual-column">&nbsp;
					<!--	<a href="#">en savoir plus</a> -->
					</div>
					<div class="dual-column">&nbsp;
						<!-- <a href="#">voir plus...</a> -->
					</div>
				</div>
			</div>
			<div class="news-column">&nbsp;
				<!-- <a href="#">voir plus...</a> -->
			</div>
		</div>
	</div>
</div>