!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title mondvdclub.fr
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    -if @redirect_url
      %meta{"http-equiv" => "Refresh", :content => "5;url= #{@redirect_url}"} 
    = stylesheet_link_tag 'filter', 'all'
  %body
    .page
      .page-bottom
        .page-top
          .page-width
            = render :partial => '/shared/header'
            = yield
    = render :partial => '/shared/footer'

    = javascript_include_tag :defaults
    = javascript_include_tag 'main'
