!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head
    %title MonDVDClub.fr : service gratuit de prêts de DVDs entre amis
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    -if @redirect_url
      %meta{"http-equiv" => "Refresh", :content => "5;url= #{@redirect_url}"} 
    = stylesheet_link_tag 'filter', 'all', 'application'
  %body
    = fb_connect_async_js
    .page
      .page-bottom
        .page-top
          .page-width
            #header
              - unless logged_in? && ( !current_user.nil? && current_user.active?)
                %strong= link_to "monDVD", root_path
                .tab-holder
                  %div
                    %ul
                      %li= link_to content_tag(:span, t("header.create")), register_path, :class => :blue
                      - if fb_user
                        %li= fb_logout_link content_tag(:span, t("header.connect")), home_path, :class => :dark
                      - else
                        %li= link_to  content_tag(:span, t("header.connect")), login_path, :class => :dark
              - else        
                %strong= link_to "monDVD", home_path, :class => :inner
                %ul.top-nav
                  %li.first= link_to t('header.account'), settings_path
                  - if fb_user
                    %li= fb_logout_link t('header.disconnect'), '/facebook_logout'
                  - else
                    %li= link_to t('header.disconnect'), logout_path

            = yield
    #footer
      %ul
        %li= link_to 'A propos', '/infos/a-propos'
        %li= link_to 'Aide', '/infos/aide'
        %li= link_to "Conditions d'utilisation", '/infos/conditions'
        %li= link_to 'Mentions Légales', '/infos/mentions-legales'
    
	    
      =link_to 'Rejoignez-nous sur Facebook', 'http://facebook.mondvdclub.fr'

  = javascript_include_tag :defaults
  = javascript_include_tag 'main'
  = yield :javascript
	
:javascript
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/R4cfJeKbRIshzTVJRcjjw.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18228312-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

