!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title Mon DVD Club
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    -if @redirect_url
      %meta{"http-equiv" => "Refresh", :content => "5;url= #{@redirect_url}"} 
    = stylesheet_link_tag 'filter', 'all', 'application'
  %body
    .page
      .page-bottom
        .page-top
          .page-width
            #header
              - unless logged_in?
                %strong= link_to "monDVD", root_path
                .tab-holder
                  %div
                    %ul
                      %li= link_to content_tag(:span, t("header.create")), register_path, :class => :blue
                      %li= link_to  content_tag(:span, t("header.connect")), login_path, :class => :dark
              - else        
                %strong= link_to "monDVD", home_path, :class => :inner
                %ul.top-nav
                  %li.first= link_to 'Mon Compte', settings_path
                  %li= link_to "Se deconnecter", logout_path

            = yield

    #footer
      %ul
        %li= link_to 'A propos', '#'
        %li= link_to "Conditions d'utilisation", '#'
        %li= link_to 'Mentions Légales', '#'
        %li= link_to 'Vie privée', '#'

      Un service cr&eacute;&eacute; par 
      =link_to '@ssacard', 'http://www.twitter.com/ssacard'

    = javascript_include_tag :defaults
    = javascript_include_tag 'main'