!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title mondvdclub.fr
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag 'master', 'form', 'button'
  %body
    #main
      = render :partial => '/shared/header'
      .site
        = yield
      .push
    = render :partial => '/shared/footer'

= javascript_include_tag :defaults
