!!! Strict
%html{"xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en"}
  %head
    %title mondvdclub.fr
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    -if @redirect_url
      %meta{"http-equiv" => "Refresh", :content => "5;url= #{@redirect_url}"} 
    = stylesheet_link_tag 'master', 'form', 'button', 'menu'
  %body
    #main
      = render :partial => '/shared/header'
      = ( f = [:notice, :warning, :error].detect {|f| flash[f] } ) ?  %Q{<div class="flash #{f}">#{flash[f]}</div>} : nil
      = yield
      .push
    = render :partial => '/shared/footer'

    = javascript_include_tag :defaults
