%br
#dvd
  %table
    %tr
      %td
        = image_tag dvd[:image] unless dvd[:image].nil?
      %td
        %b
          = dvd.title
        %br
        format:
        = dvd.dvd_format.name rescue "none"
        %br
        = dvd.description
      %td
        Propriétaire
        %br
        DVD Club (
        = dvd.dvd_club.name
        )
        %br
        = dvd.state
        - if dvd.state=='available'
          = link_to "<input type=\"button\" value=\"Réserver maintenant!\" />", "#"
        - else
          = link_to "<input type=\"button\" value=\"S'inscrire sur la liste!\" />", "#"