%tr{:class => cycle('even', 'odd')}
  %td.center
    = link_to(image_tag(dvd[:smallimage], :class => 'logo'), {:controller => :dvds, :action => :show, :id => dvd}) unless dvd[:smallimage].nil?
  %td
    - if dvd.owner == current_user
      - if dvd.booked?
        %b= dvd.booked_by_user.login
        = DvdClub.in_common(dvd.booked_by_user, current_user)
        vous à empruntez
        %b= dvd.title
        = distance_of_time_in_words(Time.now, dvd.created_at)
      %br
    -else
      %b= dvd.title
      %br
    format:
    = dvd.format_name
    %br
    = truncate(dvd.description, 80)
  %td
    = render :partial => 'dvds/partials/status', :locals => {:dvd => dvd}
