%table
  %tr
    %td
      = image_tag dvd[:image] unless dvd[:image].nil?
    %td
      %b
        Propriétaire
      DVD Club (
      = dvd.dvd_club.name
      )
      %br
      Status: 
      = dvd.subscription_status
      = render :partial => '/dvds/partials/dvd_state', :locals => {:dvd => dvd}
      %br
      %b
        = dvd.title
      format:
      = dvd.format.name
      %br
      = dvd.description