%tr{:class => cycle('even', 'odd')}
  %td.center
    = link_to(dvd_cover(dvd), {:controller => :dvds, :action => :show, :id => dvd}) 
  %td
    %b= link_to(dvd.title, {:controller => :dvds, :action => :show, :id => dvd});
    - if dvd.owner == current_user
      - if dvd.booked?
        %b= dvd.booked_by_user.login
        = DvdClub.in_common(dvd.booked_by_user, current_user)
        vous à empruntez
        %b= dvd.title
        = distance_of_time_in_words(Time.now, dvd.created_at)
      %br
    -else
      %br
    format:
    = dvd.format_name
    %br
    = truncate(dvd.description, 80)
  %td
    = render :partial => 'dvds/partials/status', :locals => {:dvd => dvd}
