/ Disable the row (gray out) when the DVD state is not available. Possible values booked, approval, available, and blocked
- if dvd.state != "available"
  - statecss = "disabled"

%div{:class => "product-item #{statecss}"}
  .bg-bottom
    .bg-top
      = link_to(dvd_cover(dvd), dvd_path(dvd)) 
      .info
        .heading
          / Change the icon in front depending on the dvd_format name
          - if dvd.dvd_format.try(:name) == "DVD"
            %a.dvd= dvd.format_name
          - elsif dvd.dvd_format.try(:name) == "Blue-Ray"
            %a.blueray= dvd.format_name
          - else
            %a.autre= dvd.format_name
          %h3= h dvd.title
        
        .content-text
          %p= truncate(dvd.description, 160)
      / Right part of the DVD detail box starts here, the one with the greener background
      .actions
        %h4
          Propriétaire :
          = dvd.owner.default_pseudo
        - dvd_club = DvdClub.first_in_common(dvd.owner, current_user)
        - if not dvd_club.nil?
          = dvd_club.name
        
        .yellow-btn
          - form_for :dvd, :url => {:controller => :dvds, :action => :request_register} do |form|
            = hidden_field_tag 'dvd_id', dvd.id
            - if statecss == "disabled"
              = link_to_function("Déjà preté !", 'MonDVD.Form.submit(this)')
            - else
              = link_to_function("Reserver", 'MonDVD.Form.submit(this)')