/ Disable the row (gray out) when the DVD state is not available. Possible values booked, approval, available, and blocked
- case dvd.state 
  - when "available", "approval"
  - when "booked"
    - if dvd.booked_by != current_user.id
      - statecss = "disabled"


%div{:class => "product-item #{statecss}"}
  .bg-bottom
    .bg-top
      = link_to(dvd_cover(dvd), dvd_path(dvd)) 
      .info
        .heading
          / Change the icon in front depending on the dvd_format name
          - if dvd.dvd_format.try(:name) == "DVD"
            %a.dvd= dvd.format_name
          - elsif dvd.dvd_format.try(:name) == "Blue-Ray"
            %a.blueray= dvd.format_name
          - else
            %a.autre= dvd.format_name
          %h3= h dvd.title
        
        .content-text
          %p= truncate(dvd.description, 160)
      / Right part of the DVD detail box starts here, the one with the greener background
      .actions
        %h4
          Propriétaire :
          = dvd.owner.default_pseudo
        - dvd_club = DvdClub.first_in_common(dvd.owner, current_user)
        - if not dvd_club.nil?
          = dvd_club.name
        
        .yellow-btn
 
        - case dvd.state 
          - when "booked"
            = render :partial => '/dvds/partials/action', :locals => { :dvd => dvd, :action => :request_unregister, :title => "Rendre" }
          - when "blocked"
            = render :partial => '/dvds/partials/action', :locals => { :dvd => dvd, :action => :unblock, :title => "Débloquer"}
          - when "available"
            - if dvd.owner != current_user
              = render :partial => '/dvds/partials/action', :locals => { :dvd => dvd, :action => :request_register, :title => "Réserver"}
            = render :partial => '/dvds/partials/action', :locals => { :dvd => dvd, :action => :block, :title => "Bloquer"}
          - when "approval"
            - if dvd.owner == current_user
              = render :partial => '/dvds/partials/action', :locals => { :dvd => dvd, :action => :approve_confirm, :title => "Accepter"}
              = render :partial => '/dvds/partials/action', :locals => { :dvd => dvd, :action => :refuse_confirm, :title => "Refuser"}
            - else
              <a>En attente</a>

