%tr{:class => cycle('even', 'odd')}
  %td.center
    = image_tag dvd[:logo], :class => 'logo' unless dvd[:logo].nil?
  %td
    %b
      = dvd.title
    %br
    format:
    = dvd.dvd_format.name rescue "none"
    %br
    = dvd.description
  %td
    %span.bold= dvd.owner.login
    %br
    DVD Club (
    = dvd.dvd_club.name rescue "none"
    )
    %br        
    - if dvd.owner == current_user && (dvd.available? || dvd.blocked?)
      -if dvd.blocked?
        %b Indisponible
        = button_to "rendre disponible", {:controller => :dvds, :action => :unblock, :id => dvd.id}, :method => :post
      -else
        %b Disponible
        = button_to "rendre indisponible", {:controller => :dvds, :action => :block, :id => dvd.id}, :method => :post
        
    - elsif dvd.owner == current_user && dvd.approval?
      = button_to "prêter",   {:controller => :dvds, :action => :approve_confirm, :id => dvd.id}, :method => :post
      = button_to "refuser",  {:controller => :dvds, :action => :refuse_confirm, :id => dvd.id}, :method => :post
   
    - elsif dvd.booked?
      Déja prété
  
    - else
      %b Disponible!
      - form_for :dvd, :url => {:controller => :dvds, :action => :request_register} do |form|
        = hidden_field_tag 'dvd_id', dvd.id
        = form.submit "Réserver maintenant!"
