%br
#dvd
  %table
    %tr
      %td
        = image_tag dvd[:image] unless dvd[:image].nil?
      %td
        %b
          = dvd.title
        %br
        format:
        = dvd.dvd_format.name rescue "none"
        %br
        = dvd.description
      %td
        Propriétaire
        %br
        DVD Club (
        = dvd.dvd_club.name rescue "none"
        )
        %br
        = render :partial => '/dvds/partials/dvd_state', :locals => {:dvd => dvd}
        