- if dvd.owner == current_user
  / The current user is the DVD owner

  - if dvd.available? || dvd.blocked?
    - if dvd.blocked?
      Indisponible
      = button_to "Rendre disponible", {:controller => :dvds, :action => :unblock, :id => dvd.id}, :method => :post
    - else
      Disponible
      = button_to "Rendre indisponible", {:controller => :dvds, :action => :block, :id => dvd.id}, :method => :post

  - elsif dvd.owner == current_user && dvd.approval?
    Demande en cours
    = button_to "Accepter", {:controller => :dvds, :action => :approve_confirm, :id => dvd.id}, :method => :post
    = button_to "Refuser", {:controller => :dvds, :action => :refuse_confirm, :id => dvd.id}, :method => :post

  - elsif dvd.booked?
    Emprunté
    = button_to "Rendu", {:controller => :dvds, :action => :restore, :id => dvd.id}, :method => :post

- else
  / The current user does not own the DVD
  - if dvd.booked? || (dvd.approval? && dvd.booked_by_user != current_user)
    Déjà prêté
  - elsif dvd.approval?
    Demande en cours
  - else
    %p Disponible!
    - form_for :dvd, :url => {:controller => :dvds, :action => :request_register} do |form|
      = hidden_field_tag 'dvd_id', dvd.id
      = form.submit "Reserver"